html {
  border-radius: 10px !important;
  background: transparent !important;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--semi-color-text-0);
  background-color: var(--semi-color-bg-0);
}

@font-face {
  font-family: "Inter";
  src: url("https://sf6-cdn-tos.douyinstatic.com/obj/eden-cn/slepweh7nupqpognuhbo/Inter-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("https://sf6-cdn-tos.douyinstatic.com/obj/eden-cn/slepweh7nupqpognuhbo/Inter-Bold.ttf")
    format("truetype");
}
